/* -------------------------------------------------
 * Nextflow config file for CAW project
 * Set up with test data
 * -------------------------------------------------
 * Should be saved either with Nextflow installation
 * or as file ~/.nextflow/config
 */

process {
  executor = 'slurm'
  cpus = 1
  memory = '2 GB'
  time = '1h'
  queue = 'micromosler'
  clusterOptions = {
    '-t 60:00 --export=NONE --get-user-env -c 4 --mem 4096'
  }
}

/* This option particularly important for jobs that are submitted on
one cluster and execute on a different cluster (e.g. with different
paths). By default all environment variables are propagated. If the
argument is NONE or specific environment variable names, then the
--get-user-env */

params {
  cawDir       = '/mnt/projects/CAW' // Your own CAW directory
  sample       = '/mnt/projects/CAW/data/tsv/tiny.tsv'
  out          = ''
  gender       = 'XY'
  genome       = '/mnt/data/human_g1k_v37_decoy.fasta'
  genomeIndex  = '/mnt/data/human_g1k_v37_decoy.fasta.fai'
  mantaRef     = '/mnt/data/jesper-human_g1k_v37_decoy.fasta'
  mantaIndex   = '/mnt/data/jesper-human_g1k_v37_decoy.fasta.fai'
  genomeDict   = '/mnt/data/human_g1k_v37_decoy.dict'
  cosmic41     = '/mnt/data/b37_cosmic_v74.noCHR.sort.4.1.vcf'
  cosmicIndex41= '/mnt/data/b37_cosmic_v74.noCHR.sort.4.1.vcf.idx'
  cosmic       = '/mnt/data/b37_cosmic_v74.vcf'
  cosmicIndex  = '/mnt/data/b37_cosmic_v74.vcf.idx'
  dbsnp        = '/mnt/data/dbsnp_138.b37.vcf'
  dbsnpIndex   = '/mnt/data/dbsnp_138.b37.vcf.idx'
  kgIndels     = '/mnt/data/1000G_phase1.indels.b37.vcf'
  kgIndex      = '/mnt/data/1000G_phase1.indels.b37.vcf.idx'
  millsIndels  = '/mnt/data/Mills_and_1000G_gold_standard.indels.b37.vcf'
  millsIndex   = '/mnt/data/Mills_and_1000G_gold_standard.indels.b37.vcf.idx'
  mutect1Home  = '/mnt/sw/mutect1'
  snpeffHome   = '/mnt/sw/snpEff'
  snpeffDb     = 'GRCh37.75'
  picardHome   = '/mnt/sw/picard'
  gatkHome     = '/mnt/sw/GATK-3.3.0'
  vardictHome  = '/mnt/sw/VarDictJava'
  mutect2Home  = '/mnt/sw/GATK-3.6'
  strelkaHome  = '/usr/local/strelka-1.0.15'
  strelkaCFG   = '/mnt/projects/CAW/vc/strelka/strelka_config.ini'
  SNIC_tmp_dir = '/tmp'
  intervals    = '/mnt/projects/CAW/repeats/centromeres.list'
  acLoci       = '/mnt/data/1000G_phase3_20130502_SNP_maf0.3.loci'
}
