params {
    // Command line parameters
    bam = "/mnt/data/CEUTrio.HiSeq.WGS.b37.NA12878.bam"
    steps = 'manta' // Change on commandline --steps x,y,z
    outdir = "results"
    datadir = "./data"
    prefix = ''
    partition = 'mm'

    // Reference assemblies
    ref_fasta = "/mnt/data/human_g1k_v37.fasta"
    assembly = 'GRCh37'

    // Modules and their versions on the HPC-system
    modules {
        samtools = 'samtools/0.1.19'
        manta = 'manta/1.0.0'
	fermikit = 'fermikit/r178'
        vcftools = "vcftools/0.1.14"
        tabix = "tabix/0.2.6"
        bedtools = "bedtools/2.26.0"
        vep = "vep/84"
        snpeff = "snpEff/4.2"
        vt = "vt/0.5772"
    }

    // Runtimes for different parts of the workflow
    runtime {
        simple = '30m'    // Short simple shell jobs
        fermikit = '24h' // Fermikit is the longest running of them all
        caller = '10h'  // The rest are a lot quicker
    }
}

process {
    executor = 'slurm'
    clusterOptions = {
        '-t 60:00 --export=NONE --get-user-env -c 4 --mem 4096'
    }
}

executor {
    $slurm {
        queueSize = 10
    }
    $local {
        queueSize = 1
    }
}
